body {background-color: #828282; margin: 0;}


 main {
         height: 100vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
 }

 #tablero {
     box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);

 }

 .fila {
     clear: both;
 }
 
 .casilla {
         width: 65px;
         height: 65px;
         float: left;
         text-align: center;
         font-size:3.5em;         
 }

 
 * {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
 }
 
 recuadro {
         background-color: #595959;
         height: 115vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin: 0 auto; 
 }
