body {
    margin: 0;
    background-image: url("http://localhost:8080/fondo.jpeg");
    background-repeat: repeat;
}

body:before {
    background-color: rgba(0,0,0,0.6);
}

 main {
         height: 100vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
 }

 #tablero {
     box-shadow: 0 12px 15px 0 rgba(0,0,0,.14), 0 10px 100px 0 rgba(0,0,0,.12), 0 6px 12px -1px rgba(0,0,0,.3);
     
 }

 .fila {
     clear: both;
 }
 
 .casilla {
        align-items: center;
        display:flex;
        justify-content: center;
        width: 65px;
        height: 65px;
        float: left;
        text-align: center;
        font-size:3.5em;
        font-family: initial;
 }

.ascensoModal {
    display: flex;
    flex-direction: row;
    font-size:6em;
    font-family: initial;
    align-items: center;
    justify-content: center;
}
 
 * {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
 }
